In [1]:
import numpy as np 
import pandas as pd

In [2]:

#list of possible encodings to try 
encodings = ['utf-8', 'latin1', 'ISO-8859-1', 'cp1252']

file_path = 'spam.csv' # change this to the path of your csv file 

# Attempt to read the CSV file with different encodings 
for encoding in encodings:
    try:
        df = pd.read_csv(file_path, encoding=encoding)
        print(f"File successfully read with encoding: {encoding}")
        break #stop the loop
    except UnicodeDecodeError:
        print(f"Failed to read with encoding: {encoding}")
        continue #try the next encoding 

# If the loop completes without success, df will not be defined
if 'df' in locals():
    print("CSV file has been successfully loaded.")
else: 
    print("All encoding attempts failed. unable to read CSV file.")

Failed to read with encoding: utf-8
File successfully read with encoding: latin1
CSV file has been successfully loaded.

In [5]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
4891,ham,Miserable. They don't tell u that the side eff...,NaN,NaN,NaN
4556,ham,I am in hospital da. . I will return home in e...,NaN,NaN,NaN
3232,ham,Height of recycling: Read twice- People spend ...,NaN,NaN,NaN
5490,ham,K. I will sent it again,NaN,NaN,NaN
73,ham,K..k:)where are you?how did you performed?,NaN,NaN,NaN